.small-12.large-4.columns
    h6.subheader#bankHeader(style="border-bottom: 1px solid #ccc;")
        div(style="float: right;")
            img#bankRefresh(src="/img/arrow_refresh.png", alt="")
        | Bank
    div.hide#bankContent(style="margin-bottom: 12px;")
        | Ceci est un test !
