.small-12.large-4.columns
    h6.subheader.moduleHead
        .moduleIcon
            img(src="/img/money_euro.png", alt="")
        .moduleButtons
            img#bankRefresh(src="/img/arrow_refresh.png", alt="")
        | Bank
    div.hide#bankContent(style="margin-bottom: 12px;")
        | Ceci est un test !
