.moduleDiv
    h6.subheader.moduleHead#btcChinaHeader
        .moduleIcon
            img(src="#{rootPath}img/btcchina.png")
        .moduleButtons
            img#btcChinaDoc(src="#{rootPath}img/book.png", title="documentation")
            | 
            img#btcChinaRefresh(src="#{rootPath}img/arrow_refresh.png", title="refresh")
        | BTC China
    .moduleContent#btcChinaContent
        pre.moduleAlert#btcChinaAlertBox
        table#btcChinaTable(style='width: 100%; border: none; font-family: monospace; margin-bottom: 8px; text-align: center;')
    .moduleOverlay#btcChinaOverlay
