.small-12.large-4.columns(style="position: relative;")
    h6.subheader.moduleHead#budgetHeader
        .moduleIcon
            img(src="/img/chart_bar.png", alt="")
        .moduleButtons
            img#budgetRefresh(src="/img/arrow_refresh.png", alt="", title="refresh")
        | Budget
    .moduleContent#budgetContent
        pre.moduleAlert#budgetAlertBox
    .moduleOverlay#budgetOverlay
