.small-12.large-4.columns(style="position: relative;")
    h6.subheader#creditCardHeader(style="border-bottom: 1px solid #ccc;")
        div(style="float: right;")
            img#creditCardRefresh(src="/img/arrow_refresh.png", alt="")
        | Credit card
    div.hide#creditCardContent(style="margin-bottom: 12px;")
        pre.moduleAlert#creditCardAlertBox
        form#creditCardForm(style="margin-bottom: 0px;")
            .row
                .small-3.columns
                    label(for="creditCardId") ID
                    input#creditCardId(type="text")
                .small-4.columns
                    label(for="creditCardAmount") Amount
                    input#creditCardAmount(type="text", required)
                .small-5.columns
                    label(for="creditCardDate") dd/mm/yyyy hh:mm
                    input#creditCardDate(type="text", required)
            .row
                .small-3.columns
                    label.inline Tags
                .small-9.columns#creditCardTagContainer
            .row
                .small-3.columns
                    label.inline(for="creditCardDescription") Description
                .small-5.columns
                    input#creditCardDescription(type="text")
                .small-2.columns
                    button.small#creditCardOk(style="width: 100%;", type="submit") OK
                .small-2.columns
                    button.small#creditCardDel(style="width: 100%;") Del
        div(style="overflow: auto; height: 300px;")
            table#creditCardTable(style="width: 100%; border: none;")
    div.moduleOverlay.hide#creditCardOverlay
