.moduleDiv
    h6.subheader.moduleHead#futureTransactionsHeader
        .moduleIcon
            img(src="/img/money.png", alt="")
        .moduleButtons
            img#futureTransactionsDoc(src="/img/book.png", alt="", title="documentation")
            | 
            img#futureTransactionsClearForm(src="/img/bin.png", alt="", title="clear form")
            | 
            img#futureTransactionsRefresh(src="/img/arrow_refresh.png", alt="", title="refresh")
        | Transactions
    .moduleContent#futureTransactionsContent
        pre.moduleAlert#futureTransactionsAlertBox
        form#futureTransactionsForm(style="margin-bottom: 0px;", autocomplete="off")
            .row
                .small-3.columns
                    label
                        | ID 
                        img#futureTransactionsClearId(src="/img/bin.png", alt="", title="clear id field")
                    input#futureTransactionsId(type="text", disabled)
                .small-4.columns
                    label(for="futureTransactionsAmount") Amount
                    input#futureTransactionsAmount(type="text", required)
                .small-5.columns
                    label(for="futureTransactionsDate", style="float: left;") dd/mm/yyyy
                    label(for="futureTransactionsTime", style="float: right;") hhmm
                    input#futureTransactionsDate(type="text", style="width: 50%; float: left;", required)
                    input#futureTransactionsTime(type="text", style="width: 40%; float: right;", required)
            .row
                .small-2.columns
                    label.inline Tag
                .small-8.columns#futureTransactionsTagContainer
                .small-2.columns(title="do not match")
                    label(for="futureTransactionsDnm") DNM
                    input#futureTransactionsDnm(type="checkbox")
            .row
                .small-3.columns
                    label.inline(for="futureTransactionsDescription") Description
                .small-5.columns
                    input#futureTransactionsDescription(type="text")
                .small-4.columns
                    ul.button-group.even-2
                        li
                            button.small(type="submit") OK
                        li
                            a.button.small#futureTransactionsDel(href="#") Del
        div(style="overflow: auto; height: 300px;")
            table#futureTransactionsTable(style="width: 100%; border: none;")
    .moduleOverlay#futureTransactionsOverlay
