.moduleDiv
    h6.subheader.moduleHead#miningHeader
        .moduleIcon
            img(src="/img/coins.png", alt="")
        .moduleButtons
            img#miningDoc(src="/img/book.png", alt="", title="documentation")
            | 
            img#miningRefresh(src="/img/arrow_refresh.png", alt="", title="refresh")
        | Mining
    .moduleContent#miningContent
        pre.moduleAlert#miningAlertBox
        table#miningTable(style='width: 100%; border: none; font-family: monospace; margin-bottom: 8px;')
        div#miningSummary(style='font-family: monospace;')
    .moduleOverlay#miningOverlay

