.small-12.large-4.columns(style="position: relative;")
    h6.subheader.moduleHead#notificationsHeader
        .moduleIcon
            img(src="/img/bell.png", alt="")
        .moduleButtons
            img#notificationsRefresh(src="/img/arrow_refresh.png", alt="", title="refresh")
        | Notifications
    .moduleContent#notificationsContent
        pre.moduleAlert#notificationsAlertBox
        div(style="overflow: auto; height: 300px;")
            table#notificationsTable(style="width: 100%; border: none;")
    .moduleOverlay#notificationsOverlay
