.moduleDiv
    h6.subheader.moduleHead#notificationsHeader
        .moduleIcon
            img(src="/img/bell.png", alt="")
        .moduleButtons
            img#notificationsDoc(src="/img/book.png", alt="", title="documentation")
            | 
            img#notificationsRefresh(src="/img/arrow_refresh.png", alt="", title="refresh")
        | Notifications
    .moduleContent#notificationsContent
        pre.moduleAlert#notificationsAlertBox
        div(style="overflow: auto; height: 300px;")
            table#notificationsTable(style="width: 100%; border: none;")
    .moduleOverlay#notificationsOverlay
