.moduleDiv
    div
        button.tiny#sessionAll All
        | 
        button.tiny#sessionDesktop Desktop
        | 
        button.tiny#sessionMobile Mobile
        | 
        button.tiny#sessionTablet Tablet
        | 
        button.tiny#sessionNone None
    pre.moduleAlert#sessionAlertBox
    div
        button.tiny.secondary#sessionRefresh Refresh
        | 
        button.tiny.secondary#sessionSave Save
        | 
        a.button.tiny.secondary(href="logout") Exit
        | 
        a.button.tiny.secondary(href="logout-all") Exit all
        | 
        img#sessionDoc(src="/img/book.png", alt="", title="documentation", style="cursor: pointer;")
    div
        input#sessionAutoRefresh(type="checkbox")
        | 
        label(for="sessionAutoRefresh", style="display: inline;") Auto refresh
        | 
        span#sessionRefreshCounter
