.moduleDiv
    h6.subheader.moduleHead#walletsHeader
        .moduleIcon
            img(src="/img/lock.png", alt="")
        .moduleButtons
            img#walletsDoc(src="/img/book.png", alt="", title="documentation")
            | 
            img#walletsRefresh(src="/img/arrow_refresh.png", alt="", title="refresh")
        | Wallets
    .moduleContent#walletsContent
        pre.moduleAlert#walletsAlertBox
        table#walletsTable(style='width: 100%; border: none; font-family: monospace;')
    .moduleOverlay#walletsOverlay
