.row {
	max-width: 100%;
}

.moduleDiv {
	position: relative;
}

.moduleOverlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.5;
	top: 0px;
	left: 0px;
	display: none;
}

.moduleAlert {
	font-size: 70%;
	color: #960032;
	display: none;
	border: 1px solid #960032;
	padding: 3px;
	margin: 3px;
}

.moduleHead {
	border-bottom: 1px solid #ccc;
	cursor: pointer;
}

.moduleContent {
	margin-bottom: 12px;
	display: none;
}

.moduleButtons {
	float: right;
}

.moduleIcon {
	float: left;
	padding-right: 5px;
}

.ui-autocomplete {
	max-height: 120px;
	max-width: 250px;
	overflow: auto;
	font-size: small;
}

#miningTable td {
	padding: 0px;
	vertical-align: bottom;
}
