module.exports =
	env: 'dev' # dev/prod
	port: 8090
	db:
		dev: 'sqlite3://app/db.sqlite'
		prod: 'sqlite3://app/db.sqlite'
	login: 'paps'
	password: '' # generate password here
	secret: '' # generate secret here
	notifyOnStart: yes

	bank:
		password: '' # generate password here

	notifications:
		readPassword: '' # generate password here
		writePassword: '' # generate password here
		pushover:
			enabled: no
			user: '' # put pushover user key here
			token: '' # put pushover app token here
			devices:
				tablet: '' # the name of your tablet device at pushover
				mobile: '' # the name of your phone device at pushover
				# populate with more devices as needed
		reddit:
			enabled: no # enable reddit mail checking or not
			user: ''
			password: ''
			checkInterval: 60 * 60 # seconds between each mail check
			userAgent: 'headquarters mail checker bot 1'

	mining:
		password: '' # generate password here
		checkInterval: 60 # seconds
		allowedDowntime: 60 # seconds
