extend layout
block content
    .row(style="margin-top: 8px;")
        .small-12.large-4.columns
            include modules/session
            include modules/notes
            include modules/mining
        .small-12.large-4.columns
            include modules/notifications
        .small-12.large-4.columns
            include modules/bank
            include modules/budget
            include modules/futureTransactions
