extend layout
block content
    include alertBox
    .row
        .large-6.small-12.columns.large-centered
            h1 Headquarters
            form(action="#{rootPath}login", method="post")
                fieldset
                    legend Login
                    +alertBox(errors, "alert")
                    +alertBox(infos, "success")
                    .row
                        .small-3.columns
                            label.right.inline(for="login") Username
                        .small-9.columns
                            input#login(type="text", name="login", required)
                    .row
                        .small-3.columns
                            label.right.inline(for="password") Password
                        .small-9.columns
                            input#password(type="password", name="password", required)
                    button.tiny.right(type="submit") Go
